<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
    <%- include('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/navigation.html')%>
    <div class="container-fluid">
      <h1>Esperanza Divina</h1>
      <em class="lead">
        Somos una Organizacion sin fines de lucro que buscamos llevar la Palabra
        de Dios a cada Persona como asi tambien de poder ayudar a nuestro
        projimo desarrollando diferentes tareas en el ambito social . Esperanza
        Divina atravez de la colaboracion de muchas gente ya sea en la logistica
        como de recursos a podido llevar adelante merenderos ,talleres
        ,cursos,etc.
      </em>
    </div>
    <div class="text-center">
      <img src="/img/foto73.jpeg" class="rounded" alt="" />
    </div>
    <%- include('partials/footer.html')%>
  </body>
</html>
