<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head.html')%>
  </head>

  <body>
    <%- include ('partials/navigation.html')%>
    <main>
      <div class="slider">
        <ul>
          <li><img src="/img/foto73.jpeg" alt="" /></li>
          <li><img src="/img/foto75.jpeg" alt="" /></li>
          <li><img src="/img/foto74.jpeg" alt="" /></li>
          <li><img src="/img/foto80.jpeg" alt="" /></li>
        </ul>
      </div>
    </main>
    <%- include('partials/footer.html')%>
  </body>
</html>
