<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/navigation.html')%>
    <div style="color: white">
      <h2>Programa Radial</h2>
      <p>
        Estamos mas cerca tuyo Informandote de las Noticias Locales ,Nacionales
        e Internacionales con un Gran Equipo de Trabajo , Queremos llevarte la
        mejor musica Comentarte de Actividades Sociales acompañandote en el dia
        a dia en nuestra Querida Ciudad de Tartagal .
      </p>
    </div>
    <div>
      <img src="/img/foto79.jpeg" alt="" width="1300" height="500" />
    </div>
    <%- include('partials/footer.html')%>
  </body>
</html>
